@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.header-inicial {
    /*image*/
    color:white;
    font: 30px Cinzel;
    padding: 10px;
}

.thejourneys {
    font: 30px Cinzel;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    text-decoration-line: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0a0231;
}

main {
    margin-top: 15px;
    background: #181a31;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: 15px;
}

main ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    color: inherit;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}