@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
 * {
  scroll-behavior: smooth;
}

header {
  position: relative;

  background: linear-gradient(
    180deg,
    rgba(20, 0, 60, 0.85),
    rgba(5, 0, 30, 0.9)
  );

  backdrop-filter: blur(8px);                       /*Gracias GePeTo*/
  -webkit-backdrop-filter: blur(8px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);

  color: white;
  font-family: "Cinzel", serif;
  padding: 10px 20px;
}                      


.thejourneys {
    font: 30px Cinzel;
    color: white;
    text-align: center;
    padding: 10px;
}

.content-list {
    padding: 20px;
    padding-top: 0%;
    margin-top: 50px;
    border: 3px solid rgb(15, 15, 49);
    border-radius: 10px;
}

.content-list h4 {
    font-size: large;
}

.caps h2 {
  margin-top: 80px;
  scroll-margin-top: 80px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    text-decoration-line: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0a0231;
}

main {
    margin-top: 15px;
    background: rgb(24, 26, 49); /*#181a31*/
    margin-left: 30px;
    margin-right: 30px;
    padding: 8%;
    padding-top: 3%;
    color: white;
    font-size: 15px;
    border-radius: 7px;
}

main ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    color: inherit;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}